nav{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
  }

@media screen and (max-width:870px) {
    .image-gallery{
        display: none;
    }
    
}

@media (prefers-color-scheme : dark){
    body{
    background-color: black;
    color: white;
    }
}

@media (prefers-color-scheme : light){
    body{
        background-color: rgb(191, 224, 227);
    
    }
}
  