@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
    
    font-family: 'Montserrat';
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
h1{
    background-color: chartreuse;
    background-size: 10vw;
    background-size: cover;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 700;
    color: #ef8206;
}
body{
    background-color: #A8CEF4;
}

.logo-enlarged{
    position: relative;

}
.pad-div{
    background-color: chartreuse;
    height: 380px;
    width: 260px;
}

.pad-div button{
    position: relative;
    top: 5%;
}

.last-button button{
    right: 1%;
}


@media screen and (min-width:1300px) {
    
    body{
        background-image: url('coding-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    h5{
        background-color: aquamarine;
    }
    .pad-div{
        display: inline-block;
        height: 410px;
        margin-top: 10%;
        margin-left:20%;
    }
    .last-button{
        display: block;
        float: right;
        margin-left: 2%;
    }
    #but{
        margin-left: 13%;
    }
    .logo-enlarged{
        display: inline-block;
        margin-left: 8%;
        height: 300px;
        width: 300px;
    }
    .last-button{
        position:absolute;
        margin-top:3%;
        right:5%;
    }
    
    
}
